<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main container" ng-controller="SearchController">
  <h1 class="page-header">Search Field
    <button class="btn btn-default"><span class="glyphicon glyphicon-remove-sign" ng-click="clear()"></span></button>
    <button class="btn btn-default"><span class="glyphicon glyphicon-search" ng-click="search()"></span></button>
  </h1>

  <form name="searchForm" class="row search">
    <div class="col-sm-4" ng-repeat="searchField in searchFields">
      <span class="col-sm-3">{{searchField.displayName}}:</span>
      <span class="col-sm-9"><input type="text" placeholder="{{searchField.placeholder}}" ng-model="formValue[searchField.name]"></span>
    </div>
  </form>
  <h2 class="sub-header">Search Result</h2>
  <div class="table-responsive">
    <table class="table table-striped" id="resultTable">
      <thead>
        <tr>
          <th ng-repeat="showField in showFileds">{{showField.displayName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in fetchedData">
          <td ng-repeat="showField in showFileds">{{item[showField.name]}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
